<div class="container">
  <input
    type="text"
    placeholder="Search..."
    class="form-control"
    ng-model="searchData.text"
  />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Employee Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in template.employeeData|filter:searchData.text">
        <td>{{$index+1}}</td>
        <td>{{employee.id}}</td>
        <td>{{employee.firstname}}</td>
        <td>{{employee.lastname}}</td>
        <td>{{employee.salary}}</td>
        <td>
          <button class="btn btn-warning" ng-click="editEmployee(employee.id)">
            Edit
          </button>
          <button class="btn btn-danger" ng-click="deleteEmployee(employee.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
