<div class="container">
  <div class="row">
    <div class="col-md-4">
      <input
        type="text"
        placeholder="Search..."
        class="form-control"
        ng-model="searchData.text"
      />
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span style="float:right;"
        >Total Salary of Company: {{totalSalary|currency : "₹"}}</span
      >
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Department</th>
        <th>Employee Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salary</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in template.employeeData|filter:searchData.text">
        <td>{{$index+1}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.id}}</td>
        <td>{{employee.firstname}}</td>
        <td>{{employee.lastname}}</td>
        <td>{{employee.salary|currency : "₹"}}</td>
        <td>
          <button class="btn btn-warning" ng-click="editEmployee(employee.id)">
            Edit
          </button>
          <button class="btn btn-danger" ng-click="deleteEmployee(employee.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
