<li ng-repeat="menu in navigation" class="{{menu.classis}} nav-item dropdown">
  <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor" class="nav-link">{{menu.name}}</a>
  <a href="{{menu.link}}" ng-if="menu.link" class="nav-link">{{menu.name}}</a>
  <div class="dropdown-menu" ng-if="menu.subnav!='';">
    <div ng-repeat="submenu in menu.subnav">
      <a ui-serf="{{submenu.anchor}}" ng-if="submenu.anchor" class="dropdown-item">{{submenu.name}}</a>
      <a herf="{{submenu.link}}" ng-if="submenu.link" class="dropdown-item">{{submenu.name}}</a>
    </div>
  </div>
</li>